.bio_title{ 
    border-left: #28a7e1 8px solid;
    padding: 2px 8px ;
}
.profess{
    border-bottom:#28a7e1 3px solid;
}
.honors{
    border-bottom:#28a7e1 3px solid;
}
.bio{
    margin-left:  60px;
    margin-right: auto;
    margin-left: auto;
}