* {
    font-family: 'Arial', 'Noto Sans TC','Segoe Script;', '微軟正黑體', sans-serif;
}
.nav-link{
    color: #ffffff;
}
a{
    color: #008AC4;
}
p{
    line-height: 1.8;
}
.bottom{
    width:1090px;
    margin-bottom: 8px;
}
.navbar{
    padding: 16px 48px;
}
img.jessica{
  width: 600px;
}

.jumbotron {
	padding: 2rem 1rem 0rem 1rem;
	background-color: rgba(0, 137, 196, 0.486);
	margin-bottom: 0PX;
    
} 
.personal-card{
	background-color: #ffffff;
	border-radius: 1rem;	
    padding: 1rem;
}