.project {
    background-color: #ffffff;
    padding: 0rem 2rem;
    line-height: 30px;
}

.Topic {
    padding: 1rem 5rem;
    border-radius: 1rem;
    background-color: #ffffff;
}

.p3 {
    border-left: #28a7e1 8px solid;
    padding: 2px 8px;
}

.Topic1 {
    padding: 2rem;
}

.Topic2 {
    padding: 2rem;
}

.Topic3 {
    padding: 2rem;
}

.images>img{
    width: 30vw;
    height: 22vw;
    object-fit: cover;
    margin: 20px;
}
